@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very_Dark_Blue: hsl(234, 12%, 34%);
    --Grayish_Blue: hsl(229, 6%, 66%);
    --Very_Light_Gray: hsl(0, 0%, 98%);


}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Grayish_Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 90%;
    height: 650px;
    background-color: var(--Very_Light_Gray);
    padding: 20px 30px;
}
.header{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.upper-header{
    color: var(--Grayish_Blue);
    font-weight: normal;
    font-size: x-large;
    line-height: 25px;
}
.lower-header{
    color: var(--Very_Dark_Blue);
    font-size: x-large;
}
.para{
    margin-top: 10px;
    color: var(--Grayish_Blue);
    Font-size: 15px;
}



.cards{
    display: flex;
    justify-content: center;
}
.box{
    width: 280px;
    height: 160px;
    background-color: var(--Very_Light_Gray);
    margin-right: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
}

.box1{
    align-self: center;
    border-top: 2px solid var(--Cyan);
}
.box2{
    margin-bottom: 15px;
    border-top: 2px solid var(--Red);
}
.box3{
    border-top: 2px solid var(--Orange);
}
.box4{
    align-self: center;
    border-top: 2px solid var(--Blue);
}
.header-text p{
    font-size: 10px;
    margin-top: 10px;
    color: var(--Grayish_Blue);
}
.img{
    margin-top: 35px;
    text-align: right;

}

.img img{
    width: 30px;
    height: 30px;
}
@media screen and (max-width:480px) {
    .container{
        height: 100vh;
        padding: 10px;
        overflow: scroll;
    }
    .cards{
        flex-wrap: wrap;
       
    }
    .header{
        margin-bottom: 30px;
    }
    .box{
        margin: 10px auto;
    }
}

